{% extends 'base.html' %} 
{% block title %}{{game.title}}{% endblock %}

{% block content %}

{% if game %}
  <div class="row my_row_class">
      <div class="mx-auto">
          <p><a href='/'>HOME</a> | {{game.title}}</p>
      </div> 
  </div>
  {% endif %}

<div class="bg-transparent card">
  <img class="card-img-top" src="{{game.poster.url}}" alt="{{game.title}}" />

  <div >
    <h1>{{game.title}}</h1>
    <p class="fs-5">{{game.description}}</p>
    <p>Number of Seasons: {{game.num_seasons}}</p>
    <h2>Seasons</h2>
    {% if seasons %}
      {% for season in seasons %}
          <a href="/game/season/{{season.id}}" class="fw-bolder btn btn-warning">{{ season.title }}</a>
      {% endfor %}
    {% else %}
      <p class="fs-5">TBA</p>
    {% endif %}
  </div>
</div>

{% endblock %}
