{% extends 'base.html' %}
{% block title %}Profile{% endblock %}


{% block content %}

{% comment %} <div class="bg-transparent card">
    <br>
    <img class="card-img-top rounded mx-auto d-block" style="width: 18rem;" src="{{user.picture.url}}" alt="{{profile.name}}">
  
    <div >
      <h1>{{user.username}}</h1>
      <p class="fs-5">{{user.profile.bio}}</p>
    </div>
  </div> {% endcomment %}


  <div class="container">
    <br>
    <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <div class="mid-width: 18rem;">
    <img class="card-img-top img-thumbnail" src="{{profile.player.picture.url}}" alt="{{profile.name}}">
    </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
    <div class="left-pad">
    <h1 class="my_prod_title">{{profile.player.username}}</h1>
    <p class="text-justify my_prod_text">{{profile.bio}}</p>

{% endblock %}