{% extends 'base.html' %}
{% block title %}Profile{% endblock %}


{% block content %}

{% if profile %}
<div class="row my_row_class">
    <div class="mx-auto">
        <p><a href='/'>HOME</a> | <a href='/game/leaderboard/'>Leaderboard</a> | {{profile.player.username}}</p>
    </div> 
</div>
{% endif %}


  <div class="container">
    <br>
    <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <div class="mid-width: 18rem;">
    <img class="card-img-top img-thumbnail" src="{{profile.player.picture.url}}" alt="{{profile.name}}">
    </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
    <div class="left-pad">
    <h1 class="my_prod_title">{{profile.player.username}}</h1>
    <p class="text-justify my_prod_text">{{profile.bio}}</p>

{% endblock %}