{% extends 'base.html' %}
{% block title %}Season 1{% endblock %}

{% block content %}

<div class="bg-transparent card">
    <img class="card-img-top" src="{{season.poster.url}}" alt="{{season.title}}" />
  
    <div >
      <h1>{{season.title}}</h1>
      <p class="fs-5">{{season.description}}</p>
      <h2>Players</h2>
      <div class="container">
        <div class="col-md-3 px-0">
      {% for player in players %}
        <a> <img class="img-fluid" src="{{player.picture.url}}" alt="{{player.username}}"></a>
    {% endfor %}
    </div>
  </div>
</div>
</div>




    

{% endblock %}